absl-py==0.7.0
apex==0.1
astor==0.7.1
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
boto==2.49.0
certifi==2019.3.9
chardet==3.0.4
colour==0.1.5
configobj==5.0.6
cpools==0.0.0
cycler==0.10.0
Cython==0.29.4
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
future==0.17.1
gast==0.2.0
google-pasta==0.1.4
graphviz==0.10.1
grpcio==1.17.1
h5py==2.9.0
idna==2.8
imageio==2.5.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.20
jedi==0.13.3
Jinja2==2.11.3
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lazy-object-proxy==1.4.1
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
more-itertools==7.0.0
nbconvert==5.5.0
nbformat==4.4.0
netron==2.9.4
networkx==2.3
notebook==5.7.8
numpy==1.17.0.dev0+cbf3a08
opencv-contrib-python==3.4.5.20
opencv-python==3.4.5.20
-e git+https://github.com/vita-epfl/openpifpaf.git@b0276047490c23e1a46990e6ae3140590ff52239#egg=openpifpaf
panda==0.3.1
pandocfilters==1.4.2
parso==0.4.0
pbr==5.1.3
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.4.1
pluggy==0.11.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
ptyprocess==0.6.0
py==1.8.0
pycocotools==2.0.0
Pygments==2.4.0
pylint==2.3.1
pyparsing==2.3.0
pyrsistent==0.15.2
pysparkling==0.5.0
pytest==4.5.0
python-dateutil==2.7.5
python-json-logger==0.1.11
pytz==2018.7
PyWavelets==1.0.3
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.4
requests==2.21.0
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.3.0.dev0+c12ec06
Send2Trash==1.5.0
six==1.12.0
tabulate==0.8.3
tb-nightly==1.14.0a20190301
tensorboard==1.13.1
tensorboardX==1.5
tensorflow-estimator==1.13.0
tensorflow-gpu==2.0.0a0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tf-estimator-nightly==1.14.0.dev2019030115
thop==0.0.30.post1908061501
torch==1.1.0
torchcontrib==0.0.2
torchvision==0.2.2.post3
tornado==6.0.2
tqdm==4.31.1
traitlets==4.3.2
typed-ast==1.3.5
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.11.1
zmq==0.0.0
