absl-py==0.6.1
astor==0.7.1
cycler==0.10.0
Cython==0.29.4
gast==0.2.0
graphviz==0.10.1
grpcio==1.17.1
h5py==2.9.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.2
netron==2.9.2
opencv-contrib-python==3.4.5.20
opencv-python==3.4.5.20
Pillow==5.4.1
protobuf==3.6.1
pycocotools==2.0.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
pyzmq==17.1.2
scipy==1.2.0
tensorboard==1.12.2
tensorboardX==1.5
tensorflow-gpu
termcolor==1.1.0
tqdm==4.31.1
Werkzeug==0.14.1
zmq==0.0.0
